{% block html_head_container %}

    {% include 'header.twig' %}
    {% block head %}
    {% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">
    <div class="container">
        <header class="header" >
            {% block header %}
                <div class="wrapper">
                    {% include "menu.twig" %}
                </div>
            {% endblock %}
        </header>
    </div>
    <div class="slide-base">
        <div class="row container" style="margin: 0 auto;">
            <div class="col-md-6">
                <h1>{{ top_post.title }}</h1>
                <p>{{ top_post.content }}</p>
                <a class="btn" href="{{ top_post.link }}">Read More</a>
            </div>
            <div class="col-md-6">
                <img src="{{top_post.thumbnail.src}}">
            </div>
        </div>
    </div>
    <div class="container">
        <section id="content" role="main" class="content-wrapper">
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}

        </section>

        {% block footer %}
            <footer id="footer">
                {% include 'footer.twig' %}
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </div>
</body>
</html>
